<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Home.css') }}">


</head>
<body>
    <div class="homeheading"> <h2>Welcome to BookStore</h2></div>

    <br><br>
     <div class="container">
        <a href="{{ url_for('admin') }}" class="btn">Admin</a>
        <a href="{{ url_for('login') }}" class="btn">User Login</a>
        <a href="{{ url_for('register') }}" class="btn">Register</a>
    </div>
</body>
</html>